# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
.env
.env.local

# Large model files
*.joblib
data/*.joblib

# Virtual environment
venv/
env/

# Distribution / packaging
dist/
build/
*.egg-info/

# Other
.DS_Store
.idea/
.vscode/